/* RESET */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: #2C2C2C;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */
.header {
  background-color: #1e3a5f00;
  padding: 10px 20px;
}

.header-content {
  position: relative;
  display: flex;
  align-items: center;
}

/* menú centrado absoluto */
.menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

/* LINKS */
.menu a {
  text-decoration: none;
  color: #1E3A5F;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* HOVER */
.menu a:hover {
  color: #2ECC71;
}


/* LOGO */
.logo img {
  height: 150px; /* ajusta tamaño */
  object-fit: contain;
}

/* título */
.header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #2ECC71;
}

/* subtítulo */
.subtitulo-header {
  margin-top: 10px;
  max-width: 800px;
  font-size: 1rem;
  color: hwb(0 99% 1%);
}
/* SECCIÓN */
.seccion {
  padding: 40px 20px;
}

/* TÍTULO */
.titulo {
  text-align: center;
  font-size: 2rem;
  color: #1E3A5F;
  border-bottom: 2px solid #2ECC71;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

/* CONTENEDOR */
.contenedor {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* permite que bajen si no caben */
}

/* CARDS */
.card {
  flex: 1 1 300px; /* mínimo 300px */
  background-color: #F5F7FA;
  padding: 25px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid #ddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* HOVER PRO */
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* TEXTO */
.card h3 {
  color: #1E3A5F;
  margin-bottom: 10px;
}

.card p {
  flex-grow: 1;
  line-height: 1.5;
}

/* BOTÓN */
.card button {
  background-color: #2ECC71;
  border: none;
  padding: 12px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.card button:hover {
  background-color: #27ae60;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
  }
}

.visor-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

model-viewer {
  width: 700px;
  height: 400px;
  background-color: #f5f7fa00;
  border-radius: 10px;
}

/* Botones */
.nav {
  background-color: #2ECC71;
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.nav:hover {
  background-color: #27ae60;
}

.descripcion {
  text-align: center;
  margin-top: 10px;
  color: #1E3A5F;
}

#visor3d {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fade-out {
  opacity: 0;
  filter: blur(5px);
}


.subtitulo {
  max-width: 800px;
  margin: 10px auto 30px auto; /* 👈 pegado al título pero con aire */
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

/* CONTENEDOR GENERAL */
.empresa {
  background-color: #F5F7FA;
}

/* FLEX */
.empresa-contenedor {
  display: flex;
  align-items: center;
}

/* MITADES */
.empresa-texto,
.empresa-carrusel {
  flex: 1;
}

/* TEXTO */
.empresa-texto h2 {
  color: #1E3A5F;
  font-size: 2rem;
}

.empresa-texto p {
  margin-top: 15px;
  line-height: 1.6;
  color: #2C2C2C;
}

/* CARRUSEL */
.empresa-carrusel {
  position: relative;
  height: 300px;
  overflow: hidden;

}

/* IMÁGENES */
.empresa-carrusel img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transition: opacity 1s ease;
}

/* imagen visible */
.empresa-carrusel img.activa {
  opacity: 1;
}
.empresa-texto{
    margin: 40px auto;      /* centra */
    padding: 0 20px;        /* 👈 espacio en celulares */

}

.descripcion-destacada {
  margin: 20px auto;      /* centra */
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 0 20px;        /* 👈 espacio en celulares */
  color: #2C2C2C;
}

/* palabras clave */
.resaltar {
  color: #2ECC71; /* verde corporativo */
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  model-viewer {
    width: 100%;
    height: 300px;
  }
}

